#modal_box .modal-content{
    padding: 10px;
}

#box{
    /*width: 400px;*/
}
#box img{
    /*width: 100%;
    height: auto;
    padding: 10px;*/
}

.color-images{
    margin: 20px 0;
    border: 2px solid #fdf4f5;
    padding: 10px;
    -webkit-box-shadow: inset 0px 0px 37px -7px rgba(0,0,0,0.19);
    -moz-box-shadow: inset 0px 0px 37px -7px rgba(0,0,0,0.19);
    box-shadow: inset 0px 0px 37px -7px rgba(0,0,0,0.19);
}

.color-images div.img-wrapper{
    width:100px;
    height:100px;
    float: left;
    margin: 10px;

    -webkit-box-shadow: 8px 8px 37px -2px rgba(0,0,0,0.19);
    -moz-box-shadow: 8px 8px 37px -2px rgba(0,0,0,0.19);
    box-shadow: 8px 8px 37px -2px rgba(0,0,0,0.19);
}

.img-wrapper .star{
    position: absolute;
    width: 30px;
    height:30px;
    left:4px;
    top: 4px;
    background: url(/../img/star.png) no-repeat  ;
    background-size: cover;
}

.color-images div.img-wrapper img{
    width:100%;
    height:auto;
}

.color-images:after{
    content: '';
    display: block;
    clear: both;
}
.color-images-wrapper{
    margin: 10px 0;
    padding:10px;
}
.img-wrapper{
    width: 200px;
    height: 200px;
    border: 1px dotted #2e6da4;
    float: left;
    margin: 10px;
    position: relative;
}

.img-wrapper img{
    width: 100%;
}

input[type=checkbox]{
    cursor: pointer;
}

.images-section select{
    display: inline-block;
    vertical-align: bottom;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
}
.img-wrapper .loading{
    position: absolute;
    left: 0;
    top: 0;
    background-image: url(/../img/busy.gif);
    background-size: contain;
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
}
.img-wrapper .delete{
    position: absolute;
    right: 0;
    top: 0;
    background-image: url(/../img/clear-delete.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 30px;
    height: 30px;
    cursor: pointer;

}
.origin-select{
    display: none;
}

.images-previews{
    padding: 10px;
    border: 1px solid #2e6da4;
    margin-bottom: 15px;
    min-height: 242px;
}
.color-label{
    margin-right: 20px;
}

.color-input{
    display: inline-block !important;
    height: 34px !important;
    padding: 6px 12px !important;
    font-size: 14px !important;
    width: 120px !important;
    border: 1px solid #2e6da4 !important;

    padding-left: 40px !important;
}

.minicolors-theme-default .minicolors-swatch{
    width: 25px !important;
    height: 25px !important;
}

.color-preview-box{
    display: inline-block;
    height: 34px;
    width: 34px;
    margin-right: 10px;
    vertical-align: inherit;
}

.container{
    width: 100% !important;
    padding: 0 !important;
}



.led-yell{
    background-image: url("../img/led-yell.png");
    width: 30px;
    height:30px;
    display: block;
    background-size: contain;
    background-repeat: no-repeat;
    margin: 0 auto;
}

.led-green{
    background-image: url("../img/led-green.png");
    width: 30px;
    height:30px;
    display: block;
    background-size: contain;
    background-repeat: no-repeat;
    margin: 0 auto;
}

.led-red{
    background-image: url("../img/led-red.png");
    width: 30px;
    height:30px;
    display: block;
    background-size: contain;
    background-repeat: no-repeat;
    margin: 0 auto;
}
